@page
@model MCMS.Pages.Clinic.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clinics[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinics[0].RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinics[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinics[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinics[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinics[0].SubscribedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinics[0].BillingCycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinics[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clinics) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscribedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingCycle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
