@page
@model MCMS.Pages.Doctor.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctors[0].Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctors[0].RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctors[0].Hospital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctors[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctors[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctors[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Doctors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
